<?xml version="1.0" encoding="UTF-8" standalone="no"?><entities>
	<entity>
		<entity-name>com.springdatademo.model.Department</entity-name>
		<entity-width>120</entity-width>
		<entity-height>146</entity-height>
		<entity-X-Coordinate>189</entity-X-Coordinate>
		<entity-Y-Coordinate>350</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.springdatademo.model.Team</entity-name>
		<entity-width>120</entity-width>
		<entity-height>146</entity-height>
		<entity-X-Coordinate>547</entity-X-Coordinate>
		<entity-Y-Coordinate>350</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.springdatademo.model.Employee</entity-name>
		<entity-width>120</entity-width>
		<entity-height>206</entity-height>
		<entity-X-Coordinate>380</entity-X-Coordinate>
		<entity-Y-Coordinate>58</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>
</entities>